
header{
    background-color: rgb(35, 63, 47);
    margin-top: 0px;
    padding: 10px;
    border-bottom: 20px solid rgb(0, 0, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(247, 240, 240);
   
}
nav{
    text-align: right;
    
}
a{
    color: rgb(247, 240, 240);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: rgb(247, 240, 240);
   font-size: 70px;

}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    text-align: center;
    font-size: 45px;
}
footer{
    text-align: center;
    font-weight: bolder;
    background: rgb(35, 63, 47);
    color: rgb(247, 240, 240);

}
